::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-moz-scrollbar {
  width: 0;
  background: transparent;
}

body a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar {
  height: 65px;
  background-color: #f72210;
  z-index: 10;
}

.nav-row {
  width: 100%;
}

.guy-2 img,
.guy-1 img {
  max-width: 70px;
  max-height: 70px;
}

.login-logo {
  font-size: 18px;
  color: #d3d6d8;
}

.top-story-word {
  background-color: rgba(255, 255, 255, 0.9);
}

main {
  margin-top: 70px;
}

@media all and (min-width: 992px) {
  main {
    margin-top: 205px;
  }

  .navbar {
    height: 110px;
    background-color: #f72210;
  }

  .subscribe {
    height: 30px;
  }

  h6 {
    font-size: 40px;
  }
}

.news-week {
  font-size: x-large;
  color: white;
}

.news-logo {
  width: 132px;
  height: 20px;
}

.subscribe {
  background-color: #ffe400;
  border-radius: 24px;
  border: none;
  font-size: 13px;
  color: black;
  text-transform: uppercase;
}

.featured-stories-img {
  width: 100%;
}

.top-story-img {
  width: 100%;
  background-image: url("https://d.newsweek.com/en/full/1683824/israel-morocco-flags.jpg?w=591&h=364&f=5ccce66a677987f8c00830b0b9d8f9b5");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 189px;
}

.my-turn-card img {
  width: 100%;
}

.editors-card img {
  width: 100%;
}

.ts-about-it {
  font-size: 13px;
}

/* THIS SELECTOR IS FOR THE VS SECTION IN THE MD & LG SECTION */

.vs-part {
  height: 0;
}

.vs-part h5 {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 14px;
}

.vs-img img {
  width: 100%;
  height: 32px;
}

.my-turn-word {
  background-color: #c2d4d7;
}

.litle-form {
  height: 170px;
}

.litle-form-inside {
  background-color: #f4f5f6;
  width: 300px;
  height: 150px;
}

.e-button {
  background-color: #f61602;
  width: 100%;
}

.alzheimer-card-img img {
  width: 100%;
}

.in-the-magazine-card img {
  width: 100%;
}

.smallest-text {
  font-size: 12px;
}

.editors-pick-word {
  background-color: rgba(255, 255, 255, 0.9);
}

.right-sub {
  z-index: 5;
  position: relative;
  right: 80px;
  top: 20px;
  width: 50%;
}

.left-sub {
  width: 50%;
}

.inside-subscribe {
  background-color: #f4f5f6;
}

.top-letter img {
  width: 100%;
  height: 100%;
}

.top-letter {
  height: 170px;
}

.featured-stories-md-lg,
.combination1 {
  height: 1150px;
}

.input-nav {
  width: 60px;
}

.container-nav-white {
  height: 100px;
}
